<h1>New book</h1>
<div>
  <%= form_with model: book do |f| %>
        <p>Title</p>
        <p><%= f.text_field :title %></p>
        <p>Opinion</p>
        <p><%= f.text_area :body %></p>
        <%= f.submit 'Create Book', class: "btn btn-success" %>
  <% end %>
</div>
